# Dependencies
node_modules/
venv/
.pnp
.pnp.js
__pycache__/
*.pyc

# Testing
coverage/

# Build outputs
dist/
build/
web-build/

# Expo
.expo/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug and Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
pip-log.txt
pip-delete-this-directory.txt

# Python specific
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
*.pem
